DEV/DEV.MVC/Connected Services/ProdutoService/ProdutoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProdutoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52967/ProdutoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52967/ProdutoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52967/ProdutoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dev.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdutoService_listarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarProdutos" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_listarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_obterProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:obterProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_obterProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_excluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:excluirProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_excluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:excluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_salvarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:salvarProduto" />
  </wsdl:message>
  <wsdl:message name="IProdutoService_salvarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:salvarProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdutoService">
    <wsdl:operation name="listarProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/listarProdutos" message="tns:IProdutoService_listarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/listarProdutosResponse" message="tns:IProdutoService_listarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/obterProduto" message="tns:IProdutoService_obterProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/obterProdutoResponse" message="tns:IProdutoService_obterProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="excluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/excluirProduto" message="tns:IProdutoService_excluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/excluirProdutoResponse" message="tns:IProdutoService_excluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salvarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdutoService/salvarProduto" message="tns:IProdutoService_salvarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdutoService/salvarProdutoResponse" message="tns:IProdutoService_salvarProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdutoService" type="tns:IProdutoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarProdutos">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/listarProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/obterProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/excluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarProduto">
      <soap:operation soapAction="http://tempuri.org/IProdutoService/salvarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdutoService">
    <wsdl:port name="BasicHttpBinding_IProdutoService" binding="tns:BasicHttpBinding_IProdutoService">
      <soap:address location="http://localhost:52967/ProdutoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>