DEV/Pagamento/Connected Services/UsuarioService/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52967/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52967/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52967/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dev.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_listarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_listarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_obterCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:obterCliente" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_obterCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_excluirUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:excluirUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_excluirUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:excluirUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_salvarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:salvarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_salvarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:salvarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="listarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/listarUsuarios" message="tns:IUsuarioService_listarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/listarUsuariosResponse" message="tns:IUsuarioService_listarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obterCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/obterCliente" message="tns:IUsuarioService_obterCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/obterClienteResponse" message="tns:IUsuarioService_obterCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="excluirUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/excluirUsuario" message="tns:IUsuarioService_excluirUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/excluirUsuarioResponse" message="tns:IUsuarioService_excluirUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salvarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/salvarUsuario" message="tns:IUsuarioService_salvarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/salvarUsuarioResponse" message="tns:IUsuarioService_salvarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/listarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterCliente">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/obterCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/excluirUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/salvarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:52967/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>