DEV/DEV.WEB/Connected Services/ProdutoService/ProdutoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dev.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dev.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPRODUTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PRODUTO" nillable="true" type="tns:PRODUTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPRODUTO" nillable="true" type="tns:ArrayOfPRODUTO" />
  <xs:complexType name="PRODUTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATAHORACRIACAO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NOME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUANTIDADE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VALOR" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PRODUTO" nillable="true" type="tns:PRODUTO" />
</xs:schema>